.teaser {
    display: flex;
    flex-flow: row wrap;
    padding: 48px;
}

.teaser-item {
    display: flex;
    flex: 1 1 30%;
    flex-direction: row;
    padding: 10px;
    margin: 8px;
    min-width: 200px;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid black;
}

.teaser-item > div:first-child {
    margin-right: 12px;
    font-size: 3em;
}